
body {
    background-image: url(/image/bg.jpg); /* Imagen como fondo */
    background-repeat: no-repeat; /* Evita la repetición */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
}